.usage-pie-chart-container {
    display: grid;
}

.chart-data-selector {
    display: flex;
    width: 100%;
}

.chart-data-selector button {
    flex: 1;
    border-radius: 0px;
}

.chart {
    border-style: solid;
    border-width: 2px;
    border-color: grey;
    border-radius: 10px;
}

.separator {
    border: none;
    height: 2px;
    background-color: grey;
}

.usage-statistics {
    margin-top: 10px;
    margin-left: 10px;
}

.custom-tooltip {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 10px;
    border-radius: 10px;
    color: white;
}

.custom-tooltip p {
    margin: 0;
}
